<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Diego Borrell Portfolio </title>
</head>
<body>
<header class="main logo">
    <img class="fotogato" src="https://placekitten.com/g/150/150">
    <h1 class="titulo"> Cute cats </h1>
</header>
<nav> navegacion </nav>
<main>
    <h1> Contenido </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Varius quam quisque id diam vel.
    </p>
</main>
<footer class="links">
    <ul>
        <li><a href="Sobre mí link">Sobre mí</a></li>
        <li><a href="Mi trabajo link">Mi trabajo</a></li>
        <li><a href="Contacto link">Contacto</a></li>
    </ul>
</footer>
</body>
</html>